<div class="interior">
<h2>Welcome <%= @user.username %></h2>
<p>Points: <%= @user.points %></p>

<h2>Favorites</h2>
  <% @favorites.each do |favorite| %>
<ul>
  <li><%= favorite.restaurant.name %></li>
  <li><%= favorite.restaurant.address %></li>
  <li><%= favorite.restaurant.work_score %></li>
</ul>
<% end %>
<h2>Reviews</h2>
<% @reviews.each do |review| %>
<div class="individual-review">
  <ul>
    <li><a href="/restaurants/<%= review.restaurant.id %>"><%= review.restaurant.name %></a></li>
    <li>Workability rating: <%= review.restaurant.work_score %></li>
    <li><%= review.comments %></li>
    <li><%= link_to 'Edit', edit_restaurant_review_path(review.restaurant, review) %></li>
    <li><%= link_to 'Delete', restaurant_review_path(review.restaurant, review), :method => :delete %></li>
  </ul>
</div>
<% end %>
</div>
