<h1>Welcome <%= @user.username %></h1>
<p>Points: <%= @user.points %></p>

<h2>Favorites</h2>
  <% @favorites.each do |favorite| %>
<ul>
  <li><%= favorite.restaurant.name %></li>
  <li><%= favorite.restaurant.address %></li>
  <li><%= favorite.restaurant.work_score %></li>
</ul>
<% end %>
<h2>Reviews</h2>
<% @reviews.each do |review| %>
<ul>
  <li><%= link_to 'Delete', restaurant_review_path(review.restaurant, review), :method => :delete %></li>
  <li><%= review.restaurant.name %></li>
  <li><%= review.restaurant.work_score %></li>
  <li><%= review.comments %></li>
  <li><%= link_to 'Edit', edit_restaurant_review_path(review.restaurant, review) %>
</ul>
<% end %>
