<div class="homepage">
  <div class="index-categories">
    <ul>
      <li>Workability</li>
      <li>Parking</li>
      <li>Wifi</li>
      <li>Seating</li>
      <li>Outlet</li>
      <li>Atmosphere</li>
    </ul>
  </div>

  <div class="index-sorts">
    <table>
    <% @r_workability.each do |restaurant| %>
      <tr>
        <td><h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3></td>
        <% if restaurant.work_score != 0 %>
          <td class="score"><%= review_zero?(show_stars(restaurant.work_score)) %></td>
        <% else %>
          <td><h3><i class="fa fa-plug" aria-hidden="true"></i>
 not rated yet!</h3></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="2"><%= restaurant.address %></td>
      </tr>
      <% end %>
    </table>

    <table>
    <% @r_parking.each do |restaurant| %>
      <tr>
        <td><h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3></td>
        <% if restaurant.score("parking_rating") != 0 %>
          <td class="score"><%= show_stars(restaurant.score("parking_rating")) %></td>
        <% else %>
          <td><h3><i class="fa fa-plug" aria-hidden="true"></i>
 not rated yet!</h3></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="2"><%= restaurant.address %></td>
      </tr>
      <% end %>
    </table>

    <table>
    <% @r_wifi.each do |restaurant| %>
      <tr>
        <td><h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3></td>
        <% if restaurant.score("wifi_rating") != 0 %>
        <td class="score"><%= show_stars(restaurant.score("wifi_rating")) %></td>
        <% else %>
          <td><h3><i class="fa fa-plug" aria-hidden="true"></i>
 not rated yet!</h3></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="2"><%= restaurant.address %></td>
      </tr>
      <% end %>
    </table>

    <table>
    <% @r_seating.each do |restaurant| %>
      <tr>
        <td><h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3></td>
        <% if restaurant.score("seating_rating") != 0 %>
        <td class="score"><%= show_stars(restaurant.score("seating_rating")) %></td>
        <% else %>
          <td><h3><i class="fa fa-plug" aria-hidden="true"></i>
 not rated yet!</h3></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="2"><%= restaurant.address %></td>
      </tr>
      <% end %>
    </table>

    <table>
    <% @r_outlet.each do |restaurant| %>
      <tr>
        <td><h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3></td>
        <% if restaurant.score("outlet_rating") != 0 %>
        <td class="score"><%= show_stars(restaurant.score("outlet_rating")) %></td>
        <% else %>
          <td><h3><i class="fa fa-plug" aria-hidden="true"></i>
 not rated yet!</h3></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="2"><%= restaurant.address %></td>
      </tr>
      <% end %>
    </table>

    <table>
    <% @r_atmosphere.each do |restaurant| %>
      <tr>
        <td><h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3></td>
        <% if restaurant.score("atmosphere_rating") != 0 %>
          <td class="score"><%= show_stars(restaurant.score("atmosphere_rating")) %></td>
        <% else %>
          <td><h3><i class="fa fa-plug" aria-hidden="true"></i>
 not rated yet!</h3></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="2"><%= restaurant.address %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
