<div class="interior">
  <div class="restaurant-overview">
    <div class="restaurant-details">
      <h2><%=@restaurant.name%></h2>
      <div><%= show_stars(@restaurant.work_score)%></div>
      <h3>Workability Score: <%=@restaurant.work_score%></h3>
      <ul>
        <li><%=@restaurant.address%></li>
        <li><h4><a href=<%=@restaurant.link%>><i class="fa fa-yelp" aria-hidden="true"></i> Yelp Link</a></h4></li>
      </ul>
      <% if session[:user_id] && !find_review %>
        <%= link_to new_restaurant_review_path(@restaurant.id), class: :"add-review" do %>
        <i class="fa fa-plus" aria-hidden="true"></i> Add Review
        <% end %>
      <%end %>
      <% if session[:user_id] && !find_favorite%>
        <%= link_to favorite_path(@restaurant.id), class: :"add-favorite" do %>
        <i class="fa fa-heart-o" aria-hidden="true"></i> Add Favorite
        <% end %>
      <% elsif session[:user_id] %>
        <%= link_to favorite_path(@restaurant.id), class: :"add-favorite" do %>
        <i class="fa fa-heart" aria-hidden="true"></i> Favorite!
        <% end %>
      <% end %>
    </div>
    <div class="restaurant-scores">
      <ul>
        <li><h4>Parking: <%=@restaurant.score("parking_rating")%></h4></li>
        <li><h4>Seating: <%=@restaurant.score("seating_rating")%></h4></li>
        <li><h4>Wifi: <%=@restaurant.score("wifi_rating")%></h4></li>
        <li><h4>Outlets: <%=@restaurant.score("outlet_rating")%></h4></li>
        <li><h4>Atmosphere: <%=@restaurant.score("atmosphere_rating")%></h4></li>
      </ul>
    </div>
  </div>
  <div class="restaurant-reviews">
  <% if @restaurant.reviews.empty? %>
    <span class="no-review">There are currently no reviews. Be the first!</span>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
      <div class="individual-review">
        <div class="individual-stats">
          <p>Username: <%= review.user.username %></p>
          <p>Points: <%= review.user.points %></p>
        </div>
        <div class="individual-scores">
          <p>Parking: <%= review.parking_rating %></p>
          <p>Seating: <%= review.seating_rating %></p>
          <p>Wifi: <%= review.wifi_rating %></p>
          <p>Outlet: <%= review.outlet_rating %></p>
          <p>Atmosphere: <%= review.atmosphere_rating %></p>
        </div>
        <div class="individual-comments">
          <p><%= review.comments %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
