<h2>Add a new review for this plop!</h2>

<% if @errors %>
  <% @errors.each do |error| %>
  <p><%= error %></p>
  <% end %>
<% end %>


<%= form_for @review, url: restaurant_reviews_path do |f| %>
  <%= f.label :outlet_rating %>
  <%= f.radio_button :outlet_rating, 1 %>
  <%= f.radio_button :outlet_rating, 2 %>
  <%= f.radio_button :outlet_rating, 3 %>
  <%= f.radio_button :outlet_rating, 4 %>
  <%= f.radio_button :outlet_rating, 5 %>

  <%= f.label :wifi_rating %>
  <%= f.radio_button :wifi_rating, 1 %>
  <%= f.radio_button :wifi_rating, 2 %>
  <%= f.radio_button :wifi_rating, 3 %>
  <%= f.radio_button :wifi_rating, 4 %>
  <%= f.radio_button :wifi_rating, 5 %>

  <%= f.label :seating_rating %>
  <%= f.radio_button :seating_rating, 1 %>
  <%= f.radio_button :seating_rating, 2 %>
  <%= f.radio_button :seating_rating, 3 %>
  <%= f.radio_button :seating_rating, 4 %>
  <%= f.radio_button :seating_rating, 5 %>

  <%= f.label :parking_rating %>
  <%= f.radio_button :parking_rating, 1 %>
  <%= f.radio_button :parking_rating, 2 %>
  <%= f.radio_button :parking_rating, 3 %>
  <%= f.radio_button :parking_rating, 4 %>
  <%= f.radio_button :parking_rating, 5 %>

  <%= f.label :atmosphere_rating %>
  <%= f.radio_button :atmosphere_rating, 1 %>
  <%= f.radio_button :atmosphere_rating, 2 %>
  <%= f.radio_button :atmosphere_rating, 3 %>
  <%= f.radio_button :atmosphere_rating, 4 %>
  <%= f.radio_button :atmosphere_rating, 5 %>

  <%= f.label :comments %>
  <%= f.text_area :comments, size: "60x12" %>
  <%= f.submit "Add Review" %>

<% end %>
