<!DOCTYPE html>
<html>
<head>
  <script src="https://use.fontawesome.com/f3f0aa6a92.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Itim|Open+Sans" rel="stylesheet">

  <title>Plop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="session-nav">
      <div class-"logo"><h1><i class="fa fa-plug" aria-hidden="true"></i> Plop</h1></div>
      <div class="links">
        <span><%= link_to "Home", root_path %></span>
        <% if session[:user_id].nil? %>
          <span><%= link_to "Register", user_register_path %></span>
          <span><%= link_to "Login", user_login_path %></span>
        <% elsif @user.nil? == false %>
          <span><%= link_to find_current_user.username, user_profile_path(find_current_user) %></span>
          <span><%= link_to "Log Out", user_logout_path %></span>
        </div>
      <% end %>
      </div>
      <div class="search">
        <span class="slogan">Find a Place to Plop</span>
        <span class="home-search-bar"><%=render partial: 'home/search'%></span>
      </div>
    </nav>
  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <ul>
      <li>Plop</li>
      <li>Privacy</li>
      <li>Terms</li>
      <li>Conditions</li>
    </ul>
  </footer>
</body>
</html>
