<!DOCTYPE html>
<html>
<head>
  <script src="https://use.fontawesome.com/f3f0aa6a92.js"></script>

  <title>Plop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%=render partial: 'home/search'%> </li>
      <li><%= link_to "Home", root_path %></li>
      <% if session[:user_id].nil? %>
        <li><%= link_to "Register", user_register_path %></li>
        <li><%= link_to "Login", user_login_path %></li>
      <% elsif @user.nil? == false %>
        <li><%= link_to find_current_user.username, user_profile_path(find_current_user) %></li>
        <li><%= link_to "Log Out", user_logout_path %></li>
      <% end %>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
